body {
    background-color: var(--color-light);
}

.jumbotron {
    background-color: var(--color-light);
    margin-top: 45px;
    padding: 45px;
    max-width: 500px;
    min-height: 65vh;
}

.jumbotron .title {
    margin-top: 15px;
    padding-bottom: 45px;
}

.submit-button {
    margin-top: 45px;
}
