#header {
    height: 100px;
    font-size: 0.9rem !important;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

#header, #sticky-nav {
    font-size: 0.9rem !important;
}

#sticky-nav {
    padding-top: 0;
    padding-bottom: 0;
}

#header ul {
    margin-top: 40px;
}

#header li {
    padding: 10px;
}

#header h5, h4 {
    font-family: "DIN 1451";
    margin-left: 20px;
}

#header a {
    color: white;
    font-family: "DIN 1451";
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav-link {
    color: white !important;
    padding: 15px 25px 15px 25px !important;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-menu {
    margin-top: 0px;
    background: var(--color-semi-dark);
    font-size: 0.9rem;
    border-style: none;
    border-radius: 0;
}

.dropdown-menu a , .dropdown-submenu {
    color: white;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -8px;
    margin-left: 0;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a::after {
    border-bottom: 0.3em solid transparent;
    border-left-color: inherit;
    border-left-style: none;
    border-left-width: 0.3em;
    border-top: 0.3em solid transparent;
    content: " ";
    display: block;
    float: right;
    height: 0;
    margin-right: -0.6em;
    margin-top: -0.95em;
    width: 0;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -75%;
}

.dropdown-menu .divider {
    background-color: var(--color-dark);
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}

nav a:hover, .dropdown-submenu:hover, .dropdown-item:hover {
    background: var(--color-dark);
    color: white;
}

.sticky {
    position: sticky;
    top: 0;
}
