#home-carousel {
    /*margin-top: 15px;*/
    width: 100vw;
    max-width: 100%;
    height: auto !important;
    overflow: hidden;
}

.carousel-item {
    height: 90vh;
}

.carousel-item img {
    width: 100vw;
    max-width: 100%;
    height: 100%;
    filter: blur(2px) grayscale(20%);
    object-fit: cover;
}

.carousel-item h1 {
    font-size: 4em;
    /*font-weight: bold;*/
    font-family: "DIN 1451";
}

.carousel-item p {
    font-size: 1.2em;
}

.carousel-caption {
    top: 25%;
}

.carousel-item > img {
    -webkit-filter: brightness(75%); /* Safari */
    filter: brightness(75%);
}

#onboard .heading {
    font-family: "Roboto Medium";
}

#onboard .paragraf {
    font-family: "Roboto Regular";
}

#onboard .item {
    padding: 20px;
}

#visi {
    background-image: url('/img/photos/visi.jpeg');
}
