#home-carousel {
    /*margin-top: 15px;*/
    width: 100vw;
    max-width: 100%;
    height: auto !important;
    overflow: hidden;
}

.carousel-item {
    height: 90vh;
}

.carousel-item img {
    width: 100vw;
    max-width: 100%;
    height: 100%;
    filter: blur(2px) grayscale(20%);
    object-fit: cover;
}

.carousel-item h1 {
    font-size: 4em;
    /*font-weight: bold;*/
    font-family: "DIN 1451";
}

.carousel-item p {
    font-size: 1.2em;
}

.carousel-caption {
    top: 25%;
}

.carousel-item > img {
    -webkit-filter: brightness(75%); /* Safari */
    filter: brightness(75%);
}

#onboard .heading {
    font-family: "Roboto Medium";
}

#onboard .paragraf {
    font-family: "Roboto Regular";
}

#onboard .item {
    padding: 20px;
}

#visi {
    /*background-image: url('/img/photos/visi.jpeg');*/
    background: linear-gradient(0deg, rgba(0, 177, 255, 0.8), rgba(40, 81, 140, 0.8)), url('/img/photos/visi.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#misi {
    /*background-image: url('/img/photos/visi.jpeg');*/
    background: linear-gradient(0deg, rgba(0, 177, 255, 0.8), rgba(40, 81, 140, 0.8)), url('/img/photos/visi.jpeg');
    background-repeat: no-repeat;
    /*background-size: cover;*/
}

.half-bg {
    background-size: 50vw 100vh !important;
}

.max-bg {
    background-size: cover !important;
}

#visi .container, #misi .container {
    width: 80%;
}

#visi .heading, #misi .heading {
    font-family: "Roboto Medium";
    margin-top: 150px;
}

#visi .heading h1, #misi .heading h1 {
    font-size: 4.6em;
}

#visi .paragraf, #misi .paragraf {
    font-family: "Roboto Regular";
    font-size: 1.4em;
    margin-top: 100px;
}

#misi .heading, #misi .paragraf {
    margin-left: 75px;
}

.clear-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
